{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
{% if status: %}
<div id="add-btn">
    <button type="submit" class="btn btn-primary pull-right" onclick="window.location.href='{{ url_for('edit_post', post_path=path) }}';">Edit Project</button>
</div>
<div id="logout-btn">
    <button type="submit" class="btn btn-primary pull-left" onclick="window.location.href='{{ url_for('home') }}';">Home</button>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 id="post-hdn">{{ name }}</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="post-content">
            <p>{{ content|safe }}</p>
        </div>
    </div>
</div>
{% endblock %}